$highlight: rgba(255, 255, 0, 0.4);
$grey: #ece9ef;
$light-grey: #f3f2f6;
$dark-grey: #777282;
$light-shade-white: #bfbfbf;
$light-shade-white-transparent: #bfbfbf70;
$blue: #4d24da;
$blue-light: #3F51B5;
$red: #d40505;
// $dark-grey: #00b4d5;
$white: #fff;

$light-turquise: #176576;
$strong-turquise: #00b4d5;

$warning: #FEEFB3;
$warning-text: #9F6000;
// Color Schema

$grey-hover: $light-shade-white;
