$icon-layers: url('/media/icons/Layers.png');
$icon-layers-blue: url('/media/icons/Layers__blue.png');
$icon-eye: url('/media/icons/Eye.png');
$icon-eye-blue: url('/media/icons/Eye__blue.png');
$circle: url('/media/icons/circle.png');
$close: url('/media/icons/close.png');
$history: url('/media/icons/history.png');
$history-blue: url('/media/icons/history_blue.png');
$history_flow: url('/media/icons/history_flow.png');
