$title-pane-padding: calc(100% - 28px);

.index {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 5.7rem - 2.7rem);

  &__sidebar-element {
    flex: 1;
    min-height: 33%;
  }

  &__sidebar-content {
    height: $title-pane-padding;
    overflow: auto;
  }

  &__sidebar {
    display: flex;
    flex: 3 1 auto;
    flex-direction: column;
    padding: 0 1vw 1rem 0.5vw;
  }

  &__blockly-workspace {
    flex: 7;
    padding: 0 0.5vw 1rem 1vw;
  }
}
